.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    position: absolute;
    top: 0px;
    
    overflow:hidden;
    overflow-x: hidden;
    background: rgb(226, 229, 232);
    padding: 5px;
    box-shadow: 0 14px 28px rgba(75, 74, 74, 0.25), 0 10px 10px rgba(75, 74, 74, 0.25);
   
}

.headerWrapper{
display: flex;
flex-direction: row;
align-items: center;
gap:10px;
}
.ava{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
}

.pageName{
    color: black;
    font-size: 20px;
    margin: 10px;
}

.headerButton {
    width:40px;
    height:40px;
    border-radius: 50%;
    background-color: rgb(180, 180, 180);
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
}
.headerButton:hover {
    box-shadow: 0 14px 28px rgba(210, 12, 38, 0.25), 0 10px 10px rgba(210, 12, 38, 0.25);
}
.headerAdd{
    background-image: url('../../assets/header/plus.png');   
}
.headerSearch {
    background-image: url('../../assets/header/search.png');   
}
.headerNotification{
    background-image: url('../../assets/header/bell.png');   
}

































/* 
.horoscopePages{
    background: url("../../assets/back-for-body.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 100vh
}

.header{
    margin-top: 0;
}

.signsList{
    list-style-type: none;
    display: flex;
    gap: 17px;
    flex-wrap: wrap;
    padding-left: 0;
    justify-content: center;
}

.sign {
    width: 130px;
  height: 161.25px;
} */